
<div class="container" [ngStyle]="styleObjectBorder()">
  <div class="back-button-wrapper">
      <mat-icon class="back" (click)="backClicked()">arrow_back </mat-icon>
  </div>
  <div (click)="scrubForward()" class="trackNameBox" [ngStyle]="styleObject()">
    <div class="trackNameText">{{serverData | async}}</div>
  </div>
  <div class="treatment" [ngStyle]="styleObject()">
    <div class="text track-counter">Track 1 / 10</div>
    <div class="player-controls">
      <mat-icon class="player-control-icon prev">skip_previous</mat-icon>
      <mat-icon class="player-control-icon play-pause" *ngIf="playing; else notPlaying" (click)="pauseMusic()">pause</mat-icon>
      <ng-template #notPlaying>
        <mat-icon class="player-control-icon play-pause" (click)="playMusic()">play_arrow </mat-icon>
      </ng-template>
      <mat-icon class="player-control-icon next">skip_next</mat-icon>
    </div>
    <div class="playback">
      <div [ngStyle]="{'width':  + this.i_progress + 'vw'}" class="progress"></div>
      <div class="position-slider"></div>
      <div [ngStyle]="{'width':  + (100 - this.i_progress) + 'vw'}"  class="remaining"></div>
    </div>
  </div>
  <div class="timer">{{now}} / {{duration}}</div>
</div>
