<ion-view title="Live / Record" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-record"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CKywsQCfRlO4E7ZSqqQ1_lushroom_pi.svg" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="liveRecord-container7">
      <form id="liveRecord-form11" class="list">
        <button id="liveRecord-button23" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block icon-left ion-music-note">Select Audio File</button>
        <label class="item item-input" id="liveRecord-input12" name="record_audio_filename">
          <span class="input-label">File name</span>
          <input type="text" placeholder="Choose an audio file ">
        </label>
      </form>
    </div>
    <div id="liveRecord-container11">
      <form id="liveRecord-form15" class="list">
        <button id="liveRecord-button33" class="button button-dark button-block icon-left ion-lightbulb">Select Light Script File</button>
        <label class="item item-input" id="liveRecord-input13" name="record_srt_filename">
          <span class="input-label">File name</span>
          <input type="text" placeholder="Choose an audio file ">
        </label>
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="liveRecord-container12">
      <div id="liveRecord-button-bar7" class="button-bar">
        <button id="liveRecord-button34" style="border-radius:15px 15px 15px 15px;" class="button button-dark button-block icon ion-record"></button>
        <button id="liveRecord-button35" style="border-radius:15px 15px 15px 15px;" class="button button-dark button-block icon ion-lightbulb"></button>
        <button id="liveRecord-button36" style="border-radius:15px 15px 15px 15px;" class="button button-dark button-block icon ion-stop"></button>
      </div>
      <form id="liveRecord-form17" class="list">
        <label class="item item-input" id="liveRecord-textarea1" name="live_record_log">
          <span class="input-label">Log</span><textarea placeholder="Ready for live show/record."></textarea></label>
      </form>
    </div>
  </ion-content>
</ion-view>