<ion-view title="Lushroom - Convert" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-closed-captioning"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CKywsQCfRlO4E7ZSqqQ1_lushroom_pi.svg" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="lushroomConvert-card24">
      <ion-item class="item-thumbnail-left" id="lushroomConvert-list-item14">
        <img src="img/eoVvEOQeSYiTOBTmqkHc_vezer-logo.png">
        <h2>Vezér</h2>
        <p>Convert from Vezér XML
          <br> to SRT</p>
      </ion-item>
      <form id="lushroomConvert-form18" class="list">
        <button id="lushroomConvert-button44" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block icon-left ion-document-text">Select Input XML File</button>
        <label class="item item-input" id="lushroomConvert-input16" name="convert_XML_filename">
          <span class="input-label">Input file name</span>
          <input type="text" placeholder="Choose an XML file ">
        </label>
      </form>
      <form id="lushroomConvert-form19" class="list">
        <button id="lushroomConvert-button45" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-block icon-left ion-document-text">Select Output SRT File</button>
        <label class="item item-input" id="lushroomConvert-input17" name="convert_SRT_filename">
          <span class="input-label">Output file name</span>
          <input type="text" placeholder="Choose an XML file ">
        </label>
      </form>
      <div id="lushroomConvert-container14">
        <div id="lushroomConvert-button-bar8" class="button-bar">
          <button id="lushroomConvert-button46" style="border-radius:15px 15px 15px 15px;" class="button button-dark button-block icon ion-play"></button>
          <button id="lushroomConvert-button48" style="border-radius:15px 15px 15px 15px;" class="button button-dark button-block icon ion-stop"></button>
        </div>
        <form id="lushroomConvert-form20" class="list">
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <label class="item item-input" id="lushroomConvert-textarea3" name="convert_log">
            <span class="input-label">Log</span><textarea placeholder="Ready to convert."></textarea></label>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>