<ion-view title="About" id="page7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-information-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CKywsQCfRlO4E7ZSqqQ1_lushroom_pi.svg" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="about-container15">
      <div id="about-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The
          <a href="https://github.com/LUSHDigital/LushRooms">Lushroom Pi</a> is a media player box that uses electronic components (a Raspberry Pi, a touchscreen, a Tinkerforge brick and a Tinkerforge DMX bricklet) to provide synchronised sound and light.</p>

        <p style="color:#000000;">This companion application is designed to facilitate the creative recording, live show, playing and file conversion process.</p>
      </div>
    </div>
  </ion-content>
</ion-view>