<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Settings" icon="ion-android-settings" href="#/tabs/settings" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Test" icon="ion-lightbulb" href="#/tabs/test" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Play" icon="ion-play" href="#/tabs/play" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Record" icon="ion-record" href="#/tabs/record" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Convert" icon="ion-closed-captioning" href="#/tabs/convert" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-information-circled" href="#/tabs/about" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>