<ion-view title="Test" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-lightbulb"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CKywsQCfRlO4E7ZSqqQ1_lushroom_pi.svg" style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="test-container13">
      <button id="test-button37" class="button button-stable button-block button-outline icon-left ion-android-radio-button-on">All lights ON</button>
      <button id="test-button38" class="button button-dark button-block icon-left ion-android-radio-button-off">All lights OFF</button>
    </div>
  </ion-content>
</ion-view>