<!-- <router-outlet></router-outlet> -->

<div *ngIf="serverData != null; else elseBlock">
  <div id="mainBox" [ngStyle]="styleObject()">
    <div class="selector-heading">Select treatment:</div>
    <div *ngFor="let item of serverData | async" [ngStyle]="itemStyleObject()">

      <a *ngIf="!item.IsDir; else folderLink" [routerLink]="['/player',item.ID]">
        <div class="item" >
          <div class="text">{{ item.Name | cleanPath }}</div>
        </div>
      </a>

      <ng-template #folderLink>
        <a href="/tracks?id={{item.ID}}">
          <div class="item" >
            <div class="text">{{ item.Name | cleanPath }} ></div>
          </div>
        </a> 
      </ng-template>

    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="error">{{ errorResponse.message }}</div>
</ng-template>