<!-- <router-outlet></router-outlet> -->

<div *ngIf="serverData != null; else elseBlock">
  <div id="mainBox" [ngStyle]="styleObject()">
    <div class="selector-heading">Select treatment:</div>
    <div *ngFor="let track of serverData | async" [ngStyle]="itemStyleObject()">
      <a [routerLink]="['/player',track.ID]">
        <div class="item" >
          <div class="text">{{ track.Name }}</div>
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="error">{{ errorResponse.message }}</div>
</ng-template>