body {
  background: black;
  color:white;
  margin: 15px;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#fileinput{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  border-radius: 5px;
}

input[type=file] {
  text-align: center;
  max-width: 300px;
  min-width: 190px;
  width: 65%;
  display: block;
  height: 30px;
  font-size: 15px;
  border: solid 1px white;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  font: inherit;
  font-weight: 500;
}

input[type=color] {
  width: 70%;
  display: block;
  margin: auto;
  max-width: 320px;
  min-width: 205px;
  height: 45px;
  border: solid 1px white;
  border-radius: 5px;
}

.layout_header{
  text-align: center;
}

.form_body{
  margin: 5px;
  text-align: center;
}

label {
  font-weight: 900;
}


.inputbtn{
  margin-top: 45px;
  margin-bottom: 25px;
  height: 50px;
  font-size: 15px;
  font-weight: 800;
  width: 70%;
  max-width: 320px;
  min-width: 210px;
  background-color: white;
  color: black;
  border: none;
  font-size: 17px;
  border-radius: 10px;
}

.tempSensorBtn{
  margin: 10px;
  height: 50px;
  font-size: 15px;
  font-weight: 800;
  width: 50%;
  max-width: 220px;
  min-width: 110px;
  background-color: white;
  color: black;
  border: none;
  font-size: 17px;
  border-radius: 10px;
}

#root{
  width:98%;
  margin: 2%;
}